In [1]:
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [2]:
n=int(input("Enter any number : "))
for i in range(1,11):
    print(n*i)

Enter any number :  2

2
4
6
8
10
12
14
16
18
20

In [19]:
for i in range(1,6):
    print()
    for j in range(i):
            print("*",end=" ")

*
* *
* * *
* * * *
* * * * *

In [20]:
fruit=['apple','banana','citrus','dates','mango']
for item in fruit:
    print(item)

apple
banana
citrus
dates
mango

In [22]:
student={'alan':54,'passat':54,'eric':53}
for name,mark in student.items():
    print(f"name:{name},mark:{mark}")

name:alan,mark:54
name:passat,mark:54
name:eric,mark:53

In [23]:
tup=(2,4,6,8,10)
print(tup[2])

6

In [24]:
set1={11,22,33,33,44}
print(set1)

{33, 11, 44, 22}

In [25]:
str="PythonProgramming"
str[:6]

'Python'

In [28]:
str[-6:]

'amming'

In [29]:
str_split=str.split(" ")
for ch in str_split:
    print(ch[1])

y

In [31]:
str[::-1]

'gnimmargorPnohtyP'

In [35]:
l=[x**2 for x in range(1,11)]

In [36]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [45]:
l1=[x for x in range(2,51,2)]

In [46]:
l1

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [49]:
q3=['hello','birthday','holiday','monday']
q7=[i for i in q3 if len(i)>5]
print(q7)

['birthday', 'holiday', 'monday']

In [51]:
def isprime(num):
    if num%2!=0 and num%3!=0:
        print(f"{num} is prime")
    else:
        print(f"{num} is not prime")
isprime(7)
isprime(40)
isprime(97)
isprime(10)

7 is prime
40 is not prime
97 is prime
10 is not prime

In [71]:
#factorial
def factorial(num):
    if num==0 or num==1:
        return 1
    else:
        return num*factorial(num-1)

In [73]:
factorial(3)

6

In [76]:
def lsum(li):
    sum=0
    for ch in li:
        sum+=ch
    return sum
lsum([1,2,3,4,5])

15